/*************************
*******Rahimpvlr******
**************************/

@font-face {
    font-family: 'Conv_Roboto-Light';
    src: url('/fonts/Roboto-Light.eot');
    src: local('☺'), url('/fonts/Roboto-Light.woff') format('woff'), url('/fonts/Roboto-Light.ttf') format('truetype'), url('/fonts/Roboto-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
img{
    max-width: 100%;
    vertical-align: middle;
}


footer {
    /*margin: 50px 0;*/
}
body {
    background: #fff;
    font-family:'Conv_Roboto-Light',Sans-Serif;
    color:#4e4e4e;
    line-height: 22px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color:#4e4e4e;
}

h1{
    font-size: 36px;
    color:#fff;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
}

h4{
    font-size: 16px;
}

a {
    color: #c52d2f;
    -webkit-transition: color 300ms, background-color 300ms;
    -moz-transition: color 300ms, background-color 300ms;
    -o-transition:  color 300ms, background-color 300ms;
    transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
    color: #d43133;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}


.btn-primary {
    padding: 8px 20px;
    background: #c52d2f;
    color: #fff;
    border-radius: 4px;
    border:none;
    margin-top: 10px;
}


.btn-primary:hover,
.btn-primary:focus{
    background: #c52d2f;
    outline: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.media>.pull-left{
    margin-right: 20px;
}

.media>.pull-right{
    margin-left: 20px;
}

body > section {
    padding: 15px 0;
}

.center {
    text-align: center;
}


#main .navbar{
    margin-top: -50px;
    border: 0;
    background: none;
    border: 0;

    border-bottom: 2px solid !important;
    border-color: #9e1d20 !important;
    z-index: 999;
}
#main a:hover{
    background: #9e1d20;
    color: #ffffff !important;
}
.active{
    background: #9e1d20 !important;
    color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: #9e1d20 !important;
    color: #ffffff !important;
}
.top-bar {
    padding-top: 10px;
    background: #505050;
    line-height: 9px;
}
.top-bar p{
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    padding-left: 26%;
}
.cart{
    color: #9e1d20;
    font-weight: bold;
    padding-top: 23px;
}
.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}
.m-t-m-30{
    margin-top: -45px;
}
.max-life-r{
    z-index: 999;
}
.max-life-r img {
    max-width: 48%;
}
.head-offer{
    text-align: right;
    z-index: 999;
}
.fa-round {
    padding: 0;
    border-radius: 50%;
    color: white;
    background-color: #40cdda;
    font-size: 1.30em;
    line-height: 1.5em;
    height: 1.5em;
    width: 1.5em;
    text-align:center;
    border: solid 1px white;
}

.fa-facebook {
    background-color: #3b5998;
    margin-right: 4px;
}
.logo-img{
    margin-left: 7%;
}
.logo-section{
    padding-bottom: 9px;
    background: #ebebeb;
}
#main .nav{
    margin: -23px auto 0 auto;
    width: 100%;
    text-align: center;
}
#main .nav li{
    display: inline-block;
    float: none;
    text-align: center;

}
#main .nav li a{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #000000;
}
/*
* 	Owl Carousel Owl Demo Theme
*	v1.23
*/

.owl-theme .owl-controls{
    margin-top: -45px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /*background: #869791;*/
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-buttons div{
    background: none;
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}

#owl-demo .owl-item > div{
    text-align: center;
    color: white;
    font-size:32px;
    border:1px white;
}

.wrapper-with-margin{
    margin:0px 50px;
}


.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -1px;
    top: 45%;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
    right: -1px;
    top: 45%;
}
.home-banner{
    width: 100%;
}
.home-banner-title{
    background: #60ad47;
    padding: 14px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}
.home-product-title{
    background: #2f5aa0;
    padding: 14px;
    text-align: center;
    position:relative;
    font-size: 26px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 4%;
}
#product img{
    width: 100%;
    max-height: 252px;
}
.serving{
    text-align: center;
    padding: 30px 0px;
    color: #2f5aa0;
    font-size: 20px;
    text-transform: uppercase;
    border-right: 1px solid #a1a1a1;

}
.home-price-list{
    border: 1px solid #a1a1a1;
    line-height: 40px;
}
.home-price-title{
    font-size: 20px;
    text-align: right;
}
.home-price{
    text-align: left;
    font-size: 20px;
    color:#9e271e
}
.price-box{
    border-right: 1px solid #a1a1a1;
    padding: 10px 10px;
}
.vertical-line{
    display: inline-block;
    width: 0;
    height: 1em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;}
.home-product{
    border: 1px solid #a1a1a1;
    padding: 10px;
}
.plus-icon{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.compare1{
    font-size: 27pt;
    border-right: 1px solid #fff;
    color: #ffffff;
}
.compare2{
    padding-top: 1.2%;
    font-size: 30pt;
    font-weight: bold;
    color: #ffffff;
}
.compare-box{
    padding: 10px;
    background: #ad3f40;
    margin-left: 0;
    margin-right: 0;
}
#features .col-md-4{
    min-height: 300px;
    text-align: center;
    padding: 10px;
}
#features h2{
    font-size: 24pt;
}
#brand h1 {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    color: #000;
    text-align: center;
}
#brand h1:before,
#brand h1:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 85%;
}
#brand h1:before {
    right: 100%;
}
#brand h1:after {
    left: 100%;
}
.border-right{
    border-right: 1px solid #a1a1a1;
}
.border-bottom{
    border-bottom: 1px solid #a1a1a1;
}
#brand ul li{
    list-style: none;
    display: inline-block;
    min-width: 12%;
}
#footer{
    background: #333333;
    padding: 15px;
}
#footer a{
    color: #c9c9c9 !important;
}
#footer a:hover{
    color: #c52d2f !important;
}
#footer ul{
    text-align: right;
}
#footer ul li{
    list-style: none;
    display: inline-block;
    color: #c9c9c9 !important;
    text-transform: uppercase;
    padding: 5px;
}
.border{
    border: 1px solid #a1a1a1;
}
.compare{
    background: #eee8e8;
    border: 2px solid #a2a2a2;
    border-radius: 50%;
    /* min-height: 113px; */
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    line-height: 15px;
    vertical-align: middle;
    font-weight: 600;
    text-align: center;
    max-width: 91px;
    min-height: 91px;
    padding: 48px -1px;
    padding-top: 26px;
    /* min-width: 113px; */
    /* margin-top: 10px; */
    margin: 22px auto;

}
.p-rel{
    position: relative;
}
.p-abs{
    position: absolute;
    top: 80px;
    right: 100px;
}
.p-abs p{
    font-size: 35pt;
    line-height: 47px;
}
.p-abs a{
background: #000000;
    color: #fff;
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    font-size: 16pt;
}
.p-abs a:last-child{
    background: #a12123;
}
.slider-text{
    font-size: 28pt;
}
.bold-text{
    font-weight: bold;
}

ul.slider-list li{
    display: inline-block;
   min-width: 172px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #a1a1a1;
    margin-right: -5px;
    font-weight: bold;
}

ul.slider-list{
    background: #ebebeb;
    padding: 0px;
    width: 100%;
    margin-top: 12px;
}
.slider-text{
    display: inline;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #000000;
}
#slider{
    padding: 0;
}
.contact-title{
    border: 1px solid #d1d1d1;
    background: #fbfbfb;
}
.contact-title h2{
    margin: 1%;
}
.contact-content{
    border: 1px solid #d1d1d1;
    background: #fbfbfb;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 59px;
    padding-right: 59px;
}
.contact-content .form-control{
    display: inline;
    border-radius: 0;
}
.block{
    display: block;
}
.contact-radio{
    margin-right: 12px !important;
    margin-left: 20px !important;
}
.contact-text-special{
    width: 49.5%;
}
.inline{
    display: inline;
}
.btn-order{
    text-align: center;
}
.btn-order .btn{
    background: #9e271e;
    color: white;
    padding: 10px 40px;
    border-radius: 0;
}
.heading{
    padding: 0;
    font-size: 25px !important;
}
.heading-blue h1{
    color: #042864;
    padding: 0;
    font-size: 25px !important;
}
.heading h2{
    font-size: 25px !important;
}
.push-right{
    float: right;
}
.product h2{
    color: #4f5051;
    font-size: 30px;
}
.btn-serv{
    padding: 9px;
    border: 2px solid #9e271e;
    color: #9e271e;
    font-size: 18px;
    font-weight: bold;
    width: 135px;
    margin-bottom: 2%;
}
.btn-serv2{
    padding: 9px;
    border: 2px solid #9e271e;
    color: #9e271e;
    font-size: 18px;
    font-weight: bold;
    width: 135px;
    margin: 4%;
    float: right;
}
.btn-details{
    background: #3299d0;
    border-radius: 0;
    color: white;
    margin-top: 1%;
}
.btn-add-cart{
    background: #9e1d20;
    border-radius: 0;
    color: white;
    margin-top: 1%;
}
.btn-add-cart2{
    background: #9e1d20;
    border-radius: 0;
    color: white;
    margin-left: 3%;
}
.btn-view-more{
    background: #9e1d20;
    border-radius: 0;
    color: white;
    margin-top: 2%;
    padding: 0.5% 5%;
}
.product-price{
    border-left:2px solid #eae5e5 ;
    font-size: 30px;
    font-weight: bold;
    color: #9e1d20;
    padding: 20px;
    margin-top: 2%;
}
.product-price2{
    font-size: 30px;
    font-weight: bold;
    color: #9e1d20;
    margin-top: 2%;
}
.product{
    border: 6px solid #eae5e5;
    margin-top: 2%;
}
.cart-head{
    background: #7e7c7c;
    color: #ffffff;
}
.thumbnail{
    border: 0;
}
.media-object{
    width: 120px;
    max-height: 120px;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
.icon-close{
    color: #9e271e;
    text-align: center;
    font-size: 18px;
}
.padding-bottom{
    padding-bottom: 4%;
}
#cart-container{
    border: 6px solid #eae5e5;
    padding: 15px;
    margin-bottom: 1%;
}
.btn-hash{
    background: #505050;
    border-radius: 0;
    padding: 10px 20px;
    color: white;

}
.btn-red{
    background: #a42428;
    border-radius: 0;
    padding: 10px 20px;
    color: white;
}
#cart-button-group{
    padding-right: 0;
    padding-left: 0;
}
.btn-continue-shop{
    background: #505050;
    border-radius: 0;
    padding: 10px 49px;
    color: white;
    margin-top: 1%;
}
.storage-box{
    padding: 20px;
    color: #ffffff;
    max-width: 49%;
    margin-top: 2%;
}
.storage-box h3{
    color: #ffffff;
    margin: 0;
    line-height: 2;
}
.storage-box h2{
    color: #ffffff;
    margin: 0;
}
.storage-box p{
    font-size: 16px;
    padding-top: 3%;
    line-height: 3;
}
.blue{
    background: #1a73ba;
    margin-right: 2%;
}
.green{
    background: #00a651;
}
.red{
    background-color: #a84040;
    margin-right: 2%;
}
.maroon{
    background-color: #966715;
}
.no-margin{
    margin-left: 0;
    margin-right: 0;
}
.storage-year{
    border: 1px solid #bfbfbf;
    padding: 20px;
   }
.storage-year p{
    padding-top: 2%;
}
.free-shipping{
    border: 1px solid #094b9c;
    padding: 10px;
    margin: 4% 3% 2% 0;
}
.free-shipping h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#product-slider .item{
    margin: 6px 0 0 0;
    text-align: center;
    min-height: 325px;
    color: #000000;
    border: 1px solid #a1a1a1;
    font-size: 17px;
    font-weight: bold;
}
.product-slider-title{
    border: 1px solid #a1a1a1;
}
.product-slider-title h1{
    color: #042864 !important;
    font-size: 25px;
}
.product-interested-title{
    border: 1px solid #a1a1a1;
}
.product-interested-title h1{
    color: #042864 !important;
    font-size: 25px;
    padding-left: 1.5%;
}
.product-interested-body{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid #a1a1a1;
    margin-top: 1%;
    padding-bottom: 1%;
}
.product-interested-body span{
    font-size: 19px;
    padding-bottom: 1%;
    color: #9e271e;
}


.product-slider-btn{
    border: 1px solid #a1a1a1;
    padding: 5px;
}
.product-arrows{
    text-align: right;
    margin-top: 1.4%;
}
.product-slider-body{
    border: 1px solid #a1a1a1;
}
.storage-box a{
    color: #ffffff;
}
.storage-box a:hover{
    color: lightblue;
}
@media  (max-width:767px){
    body{
        overflow-x: hidden;
    }
    .storage-box{
        max-width: 100%;
    }
    .m-t-m-30{
        margin-top: 0px;
    }
    .max-life-r img{
   max-width: 48%;
    }
    .top-bar p{
        padding: 0;
    }
    #main .nav li{
        width: 100%;
    }
    .max-life-r{
        text-align: center;
    }
    .logo-img {
        margin-left: 3%;
    }
    #brand{
       overflow-x: hidden;
    }
    ul.slider-list li{
        width: 100%;
    }
    #owl-demo .owl-item > div img{
        height: 158px;
    }
    .p-abs p{
        font-size: 14px;
        line-height: 23px;
    }
    .slider-text{
        font-size: 14px;
    }
    .p-abs{
        top: 9px;
    }
    .p-abs a{
        padding: 4px;
        font-size: 10pt;
    }
    .home-banner{
        text-align: center;
        padding-top: 25px;
    }
    #footer{
        text-align: center;
    }
    #footer ul{
        text-align: center;
    }
    .head-offer{
        text-align: center;
    }
    .serving{
        border: none;
    }
    .price-box{
        border: none;
    }
    .compare1{
        font-size: 16pt;
        border: none;
    }
    .compare2{
        font-size: 18pt;
    }
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }


    .cart-heading{
        color: #e2e1e1;
    }
    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}